<div class="container">
 <div class="d-flex justify-content-around "> 
    <div>
    <h1>Shivam <span>Achrekar</span></h1>
  </div>
  <div>
    <a href="">
      <img src="assets/assetsfoundation-social-github.svg" alt=""
    /></a>
    <a href="">
      <img src="assets/foundation-social-linkedin.svg" alt=""
    /></a>
    <a href=""> <img src="assets/foundation-social-behance.svg" alt="" /></a>
    <a href="">
      <img src="assets/foundation-social-dribbble.svg" alt=""
    /></a>
    <a href="">
      <img src="assets/foundation-social-facebook.svg" alt=""
    /></a>
  </div>
</div>
</div>
