<div class="container container1 mx-auto">
  <div class="container">
    <div class="d-flex p-5">
      <div class="">
        <ul>
          <li>NAVIGATION</li>
          <li>Premium Design Courses</li>
          <li>Freebies</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="">
        <ul>
          <br />
          <li>Mockups</li>
          <li>Text Styles</li>
          <li>Web Design</li>
          <li>Icons</li>
          <li>Backgrounds</li>
          <li>UI Kits</li>
          <li>Others</li>
        </ul>
      </div>
      <div class="mx-4 my-2">
        <ul>
          <li>TOP DOWNLOADS</li>
          <li>Pet Magazine</li>
          <li>Banner Mockup</li>
          <li>Samsung Galaxy</li>
          <li>Leather Logo</li>
          <li>Mail Banner</li>
          <li>Smartphone</li>
        </ul>
      </div>
      <div class="mx- my-2">
        <ul>
          <li>Contact US</li>
          <li>For all inquiries use contact</li>
          <li>
            <span style="color: #fff000"> @thislookgreat.net</span> or head over
            to our
          </li>
          <li>
            <span style="color: #fff000">Contact</span> page and send us a
            message
          </li>
          <li></li>
        </ul>
      </div>

      <div class="mx-5 my-4">
        <ul>
          <li>SUBSCRIBE TO OUR NEWSLETTER</li>
          <li>Subscribe to our newsletter to stay up to</li>
          <li>date with the latest news and offers</li>
          <li>
            <input
              class="my-3"
              type="text"
              placeholder="Enter Your Email address"
            />
          </li>
          <li><button>Submit</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
