<div class="container my-4">
  <div>
    <p id="heading">DESIGN MADE WITH LOVE.FREE FOR COMMERCIAL USE</p>
  </div>
  <div class="d-flex">
    <form action="" class="d-flex searchBox">
      <input type="search" placeholder="Search for FreeBie" />
      <button type="submit">Search</button>
    </form>
    <input id="date" type="date" placeholder="Date" />
  </div>
</div>

<div class="container" my-4>
  <div class="navbar">
    <nav>All</nav>
    <nav>Mockups</nav>
    <nav>Textures</nav>
    <nav>web design</nav>
    <nav>icons</nav>
    <nav>backgrounds</nav>
    <nav>ui kits</nav>
    <nav>others</nav>
  </div>
</div>

<div class="container my-4">
  <div class="d-flex justify-content-around flex-wrap my-10px">
    <div class="card" style="width: 18rem">
      <img src="assets/rectangle-1.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Egg Illustration Freebie</h5>
        <p class="card-text">
          Fun egg illustration, completely free! Be creative in your projects.
          Download this resource, for your projects, both personal and
          commercial
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="assets/prespective.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Perspective Screens App</h5>
        <p class="card-text">
          A new freebie is ready for you! This Perspective Screens App
          Presentation Mockup freebie is perfect your projects!
        </p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="assets/rectangle-1-coffe-cup.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Coffee Cup Mockup Freebie PSD</h5>
        <p class="card-text">
          After a cup of coffee, we got inspired and decided to create something
          really useful for you to showcase your designs!
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Second Row -->

<div class="container my-4">
  <div class="d-flex justify-content-around flex-wrap">
    <div class="card " style="width: 18rem">
      <img
        src="assets/rectangle-1-jellybean.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Jelly Bean Text Style Freebie</h5>
        <p class="card-text">
          Brand new text style, free of charge! Improve your designs with this
          fun text style today! Download this new PSD resource.,
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="assets/rectangle-1-cat-magazine.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Cat Magazine Mockup</h5>
        <p class="card-text">
          Today’s freebie is this cute Cat Magazine Mockup PSD. You can use it
          on your website or whenever you want to promote your products.
        </p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="assets/rectangle-1-wood-chunks.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Wood Chunks Text Style Freebie!!</h5>
        <p class="card-text">
          This year’s first freebie is here! And what we have here is a original
          Wood Text Style .
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Third row -->
<div class="container my-4 sgrid">
  <div class="d-flex justify-content-around flex-wrap">
    <div class="card" style="width: 18rem">
      <img
        src="assets/rectangle-1-pen.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Simple Pencil Freebie</h5>
        <p class="card-text">
          Simple yet stylish pencil design. Perfect for your desk and stationery
          mock-ups. Download this new PSD resource, and use it in all your
          projects.
        </p>
      </div>
    </div>

      <div class="card" style="width: 18rem">
        <img
          src="assets/rectangle-1-pencil.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Gummy Bears Text Style Freebie</h5>
          <p class="card-text">
            Fun new text style, completely free! Be creative with this fun text
            style! Download this new PSD resource, the Gummy Bears Text Style.
          </p>
        </div>
      </div>
        <div class="card" style="width: 18rem">
          <img
            src="assets/rectangle-1-retro.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Free Retro Photoshop Actions</h5>
            <p class="card-text">
              Inspired by old movies and a pin-up style FixThePhoto designed 6
              free beautiful vintage Photoshop actions to add a shining retro
              effect.
            </p>
          </div>
        </div>
      </div>
    </div>
  

<!-- pagination -->
<div class="container my-4 sgrid">
  <div class="d-flex">
  <div class="page  mx-3">
    <p class="pagefont">1</p>
  </div>
  <div class="page mx-3"><p class="pagefont">2</p></div>
  <div class="page mx-3"><p class="pagefont">3</p></div>
  <div class="page mx-3"><p class="pagefont">4</p></div>
  <div class="page mx-3"><p class="pagefont">5</p></div>
</div>

</div>